header {
  opacity: 0.902;
  height: 750px;
  background-image: linear-gradient(-53deg, #00b7d3 0%, #1ce8b5 100%);
  padding-top: 20px;
  background-attachment: fixed;
}

.links-list {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  animation: fromUp 1.5s;
  height: 20px;
}

.links-list li {
  display:inline;
  margin-right: 30px;
}

#button-link__item:hover {
  animation: hrefPlus 0.3s forwards;
}

#button-link__item:not(:hover) {
  animation: hrefMinus 0.3s forwards;
}


@keyframes hrefPlus {
  from {
    font-size: 15px;
  }
  to {
    font-size: 20px;
  }
}

@keyframes hrefMinus {
  from {
    font-size: 20px;
  }
  to {
    font-size: 15px;
  }
}

@keyframes fromUp {
  0% {
    margin-top: -50px;
  }

  100% {
    margin-top: 25px;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Plus {
  from {
    height: 40px;
    width: 150px;
  }

  to {
    height: 45px;
    width: 155px;
  }
}

@keyframes Minus {
  from {
    height: 45px;
    width: 155px;
  }

  to {
    height: 40px;
    width: 150px;
  }
}


.header-info-block {
  opacity: 0;
  width: 600px;
  padding-top: 170px;
  padding-left: 110px;
  animation: fadeIn 0.7s forwards 1.2s;
  color: #ffffff;
  font-family: "Raleway";
  text-align: left;
}

.main-text {
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: 800;

}


.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


#arrow-hover {
  width: 15px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

#button-1:hover img {
  width: 15px;
  opacity: 1;
  transform: translateX(50px);
}

#button-1:hover {
  animation: Plus 0.3s forwards;
}

#button-1:not(:hover) img {
  width: 15px;
  opacity: 0;
  transform: translateX(60px);
}

#button-1:not(:hover) {
  animation: Minus 0.3s forwards;
}
